
.skills {
  position: relative;
}

.sub-skills{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #fff;
  
}

.sub-skills details[open] {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
}