/* ********HeroImage***************************** */
.hero-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-image.hero-image-home {
  --hero-image: url('../assets/home-hero-image.jpg');
  --attachment: fixed;
	background-image: var(--hero-image);
	background-attachment: var(--attachment);
}

.hero-image.hero-image-testimonials {
	--hero-image: url('../assets/hero-image-customers.jpg');
  --attachment: scroll;
	background-image: var(--hero-image);
	background-attachment: var(--attachment);
}

/******************************************************/

.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-image-opacity.hero-image-home {
  --hero-opacity-color: rgba(0, 0, 0, 0.5);
	background-color: var(--hero-opacity-color);
}

.hero-image-opacity.hero-image-testimonials {
  --hero-opacity-color: rgba(255, 255, 255, 0.5);
	background-color: var(--hero-opacity-color);	
}



