/* *******Progress Bar****** */

progress {
  --gray-color:#ccc;
	width: 100%;
	height: 1rem;
	background-color: var(--gray-color);
	position: relative;
}

.progress {
	position: relative;
	
}

/* para Chromium fondo de progress bar*/
progress::-webkit-progress-bar {
  --gray-color:#ccc;
	background-color: var(--gray-color);
}

/* para Chromium value de progress bar*/
progress::-webkit-progress-value {
  --third-color: rgba(51, 71, 86, 1);
	background-color: var(--third-color);
}

/* para Firefox value de progress bar*/
progress::-moz-progress-bar {
  --third-color: rgba(51, 71, 86, 1);
	background-color: var(--third-color);
}

.progress {
	margin: 1rem auto;
}

.progress > div {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 0.85rem;
}

/* .skills {
  position: relative;
} */

.sub-progress{
 /*  position: absolute;
  top: 0rem;
  left: 0; */
  background-color: #fff;
  font-family: var(--font);
  font-weight: bold;
}

.sub-progress details {
	transition: all .5s ease-in;
}

.sub-progress details[open] {
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: 1;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
  padding-top: 0;
  background-color: #fff;
  width: 100%;
}

.sub-progress svg {
	position: relative;
	top: 0.2rem;
	margin-right: 0.2rem;
	width: 1.5rem;
	height: 1.5rem;
	color: #FF4C29FF;
}
