/* ********Carousel****************************** */
/* @keyframes carousel-slides {
  0%{
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-75%);
  }
} */

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.carousel2d {
  --carousel-bg-color: #fff8;
  margin: 2rem 0;
  padding: 2rem 0;
  max-width: 800px;
  width: 90vw;
  text-align: center;
  background-color: var(--carousel-bg-color);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  position: relative;
  scrollbar-width: none;
}

.carousel2d::-webkit-scrollbar {
  /* -webkit-appearance: none; */
  display: none;
}

.carousel2d input {
  display: none;
}

.carousel2d label {
  --gray-dark-color: #666;
  border: medium solid var(--gray-dark-color);
  border-radius: 50%;
  margin: 0 .25rem ;
  cursor: pointer;
  display: inline-block;
  width: .75rem;
  height: .75rem;
}

.carousel2d .slides2d {
  /* 100% por cada slide */
  width: calc(100% * var(--length));
  padding-left: 0;
  display: flex;
  list-style: none;
  transition: transform .5s ease-in-out;

  /* animation: carousel-slides 20s ease-in-out 20s; */
}

.carousel2d .slide2d {
  scroll-snap-align: center;
  width: 90vw;
}

.slides-nav2d{
  position: sticky;
  left: 0;
  top: 0;
}



